.wrapper {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
  margin-bottom: 30px;
}

.linksBox {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBox {
  height: 120px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

}

.nameBox,
.locationBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.locationBox {
  justify-content: space-evenly;
  font-weight: 500;
}

.avatar {
  width: 90px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: 700;
}

.status {
  font-size: 13px;
  color: gray;
  font-weight: 700;
}