.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding-top: 20px;
}

.dialogsItems {
  border-right: 2px solid blue;
}

.dialogsItems .dialog {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.dialogsItems .dialog a {
  color: blue;
  text-decoration: none;
}

.dialogsItems .dialog .active {
  color: rgb(0, 255, 68);
}

.messages {
  padding: 0 20px;
}

.messages li:nth-child(odd) {
  justify-content: flex-end;
}

.message {
  display: flex;
  align-items: center;
}


.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon {
  width: 50px;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}
.inner textarea{
   margin-right: 20px;
}

